body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  /* display: grid;
  grid-auto-rows: 50px 1fr 1fr; */
  /* grid-template-columns:  */
  height: 100vh;
  background: #f29035;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 10px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
}
h1 {
  margin: 10px 0;
}

.entry {
  background: rgba(67, 95, 155, 0.4);
  overflow: scroll;
}
.title {
  padding: 5px 0;
  color: rgb(80, 87, 150);
}
.title,
#entryHolder {
  text-align: center;
}

#entryHolder .temperature,
#entryHolder .date,
#entryHolder .content {
  padding: 2px;
}

#entryHolder .content {
  border-bottom: 1px dotted rgb(184, 184, 184);
  margin-bottom: 2px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}
